# The server address that to deploy freeradius/pppoe/vpn services
[server]
127.0.0.1

# The OpenWRT router address, if not just left empty and the related test cases will be ignored
[router]
# 192.168.1.1 ansible_port=1022
