127.0.0.1

[server-freeradius]

[server-pppoe]

[server-vpn-l2tp]

[server-vpn-strongswan]

[server-vpn-pptp]

[server-vpn-pptp-use-mppe]

[server-vpn-openvpn]

[server-vpn-openvpn-peap]

[server-vpn-openvpn-ttls]

[server-vpn-openconnect]

[server-vpn-vpnc]

[all-servers-vpn-pptp:children]
server-vpn-pptp
server-vpn-pptp-use-mppe

[all-servers-vpn-openvpn:children]
server-vpn-openvpn
server-vpn-openvpn-peap
server-vpn-openvpn-ttls
